body{
  background-color: #222;
  color: white;
  padding: 20px;
  margin: 20px;
  font-size: 150%;

}
h1, h2, h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 200px;
  padding-top: 100px;
}
p, li, ul{
  padding: 20px;
}